/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

body {
  background-color: #fff;
  margin: 0;
  font-family: "verdana";
}

h1 {
  font-family: "Ravie";
}

strong {
  color: #d027aa;
}

#recipiente {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aac0ae;
  border-bottom: 1px solid #aac0ae;
  border-left: 1px solid #aac0ae;
}

#cardapio h3 {
  font-size: 18px;
  color: #333;
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: #333;
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
  margin: 0 auto;
  width: 800px;
  display: grid;
  grid:  [row1-start] "lateral cabecalho" auto [row1-end]
         [row2-start] "lateral cardapio" 1fr [row2-end]
         [row2-start] "lateral rodape" auto [row2-end]
         / 154px auto;
}

html, body, #recipiente {
  min-height: 100vh;
}

#cabecalho-pagina {
  grid-area: cabecalho;
}

#lateral {
  grid-area: lateral;
}

#cardapio {
  grid-area: cardapio;
}

#rodape-pagina {
  grid-area: rodape;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  margin: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: #e90c0c;
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
#cardapio {
  padding: 0 20px;
}

article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  padding: 46px 15px 25px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: calc((100vh - 84px)/2);
  left: -84px;
  transition: left .5s;
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
}

#peixe {
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */

